//- login.jade
extends ./layout

block title
	title Game selection page

block header
	h1 Join a game
	h2 And meet new people !

block content
	<br>
	form.pure-form(name="createRoom" action="/selectionRoom", method="post")
		fieldset
			legend There your can create a new gameRoom

			input(type="text", name="newRoomName", placeholder="Room name")
			<br>
			select(name="newRoomLanguage")
				for item in languages
					option(value="#{item}") #{item}
			<br>
			button.pure-button.pure-button-primary(type="submit") Create
	<br>
	table.pure-table
		thead
			tr
				th Number of players
				th Room name
				th Language used
				th Players' name
				th Just click
		tbody
			each val, index in rooms
				if val.status == "waiting"
					if index %2 == 1
						tr.pure-table-odd
							td #{val.players.length}
							td #{val.name}
							td #{val.language}
							each item in val.players
								td #{item.name}
							td 
								button.pure-button.pure-button-primary(onClick="postData('#{val.name}','#{val.language}')") Join
					else 
						tr
							td #{val.players.length}
							td #{val.name}
							td #{val.language}
							each item in val.players
								td #{item.name}
							td 
								button.pure-button.pure-button-primary(onClick="postData('#{val.name}','#{val.language}')") Join

block javascript
	script(type="text/javascript").
		function postData(name,language){
			var form = document.createElement('form');
			form.setAttribute('name', "chooseRoom");
			form.setAttribute('action', "/selectionRoom");
			form.setAttribute('method', 'post');

			inputName = document.createElement('input');
			inputName.setAttribute('type', 'hidden');
			inputName.setAttribute('name', "name");
			inputName.setAttribute('value', name);
			form.appendChild(inputName);

			inputLanguage = document.createElement('input');
			inputLanguage.setAttribute('type', 'hidden');
			inputLanguage.setAttribute('name', "language");
			inputLanguage.setAttribute('value', language);
			form.appendChild(inputLanguage);

			document.body.appendChild(form);
			form.submit();
		}